.movie-list{
  max-width: 25%;
}
.movie-list li, a {
   color: #000;
   list-style: none;
   text-decoration: none;
   text-align: center;
   outline: 0;
}
div.movie-list li:hover {
  background: #659914;
}